body {
  background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjEwMDgtMjUtYi5qcGc.jpg");
}

h1 {
  text-align: center;
  background-color: white;
  width: 300px;
}

.puppyNames {
  text-align: center;
  background-color: white;
  width: 300px;
}